/* General Tags */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #0E0E0E;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-size: 40px;
}

p {
  font-size: 16px;
  color: #AAAAAA
}

p::selection {
  background-color: #FFBA22;
  color: #0E0E0E;
}

/* Top Page */

#top-page {
  background-color: none;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 30px;
}

#top-page .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  #top-page h1 {
    font-size: 10px;
  }
}

@media screen and (max-width: 900px) {
  #top-page h2 {
    font-size: 10px;
  }
}

#top-page .nav-title {
  padding-left: 50px;
}

#top-page .nav-links {
  display: flex;
  padding-right: 50px;
}

#top-page .nav-links a {
  padding-left: 30px;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in;
}

#top-page .nav-links a:hover {
  color: #FFBA22;
}

#top-page h1 {
  color: #FFBA22;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

#top-page a {
  color: #d2d2d2;
  font-size: 20px;
  text-decoration: none;
}

#personal-info .personal-title {
  font-size: 20px;
  margin: 0;
  color: #d2d2d2;
}

#personal-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 50px;
}

#personal-info .pinfo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#personal-info .pinfo-img {
  background-image: url('/Users/thomasbeardmore/Desktop/Resume/IMG_3005.JPG');
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 30px;
}

#personal-info h4 {
  font-family: 'Oswald', sans-serif;
  color: #FAFAFA;
  font-size: 60px;
  margin: 0;
}

#personal-info p {
  margin: 0;
}

#personal-info a {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

#personal-info .download-button {
  background-color: #181818;
  color: #FFBA22;
  border-radius: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in;
}

#personal-info .download-button:hover {
  background-color: #FFBA22;
  color: #181818
}

@media screen and (max-width: 1050px) {
  #personal-info .pinfo-content h4 {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  #personal-info .pinfo-content h4 {
    font-size: 15px;
  }
}

@media screen and (max-width: 1050px) {
  #personal-info .pinfo-content p {
    font-size: 8px;
  }
}

@media screen and (max-width: 900px) {
  #personal-info .pinfo-content p {
    font-size: 6px;
  }
}

@media screen and (max-width: 1050px) {
  #personal-info .pinfo-content a {
    font-size: 8px;
  }
}

@media screen and (max-width: 1050px) {
  #personal-info .pinfo-img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 1050px) {
  #personal-info .pinfo-content .download-button {
    font-size: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* About */

#about {
  background-color: #181818;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#about h3 {
  font-family: 'Oswald', sans-serif;
  color: #FAFAFA;
  margin: 0;
  text-transform: uppercase;
}

#about h4 {
  margin: 0;
  color: #d2d2d2;
  font-weight: 500;
}

#about p::first-letter {
  font-weight: bold;
  color: #FFBA22;
  font-size: 22px;
}

/* Skills */

#skills {
  background-color: #none;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#skills .skill-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#skills h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #FAFAFA;
  display: flex;
}

#skills h4 {
  color: #d2d2d2;
}

#skills .skill1 {
  display: flex;
  align-items: center;
}

#skills .skill2 {
  display: flex;
  align-items: center;
}

#skills .skill3 {
  display: flex;
  align-items: center;
}

#skills p {
  color: #FFBA22
}

#skills meter {
  flex: 3;
  padding-left: 10px;
  padding-right: 10px;
}

#skills meter::-webkit-meter-bar {
  border-radius: 10px;
  background: #222222;
}

#skills meter::-webkit-meter-optimum-value {
  background: #FFBA22;
}

/* Experience */

#experience {
  background-color: #181818;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
}

#experience .exp-group {
  display: flex;
  justify-content: space-between;
}

#experience .exp-title {
  margin-left: 30px;
  text-align: right;
}

#experience .exp-content {
  width: 85%;
}

#experience h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #FAFAFA
}

#experience .exp-title h4 {
  color: #FFBA22;
}

#experience .exp-title h5 {
  color: #d2d2d2;
}

#experience .exp-content h4 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #d2d2d2;
}

@media screen and (max-width: 991px) {
  #experience .exp-title h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 1350px) {
  #experience .exp-title h5 {
    font-size: 8px;
  }
}

@media screen and (max-width: 1350px) {
  #experience .exp-title {
    margin-right: 20px;
  }
}

/* Bottom Page */

#bottom-page {
  background-color: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  padding: 50px;
  border-radius: 30px;
}

#bottom-page .title-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 900px) {
  #bottom-page .title-side h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  #bottom-page .title-side h4 {
    font-size: 7px;
  }
}

#bottom-page h3 {
  font-family: 'Oswald', sans-serif;
  color: #FAFAFA;
  text-transform: uppercase;
  margin: 0;
}

#bottom-page h4 {
  margin: 0;
  color: #D2D2D2;
  font-size: 13px;
  font-weight: 300;
}

#bottom-page .contact-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 900px) {
  #bottom-page .contact-side a {
    font-size: 7px;
  }
}

#bottom-page .social-icons {
  padding: 10px;
}

#bottom-page .fa-instagram {
  color: #FFBA22;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in;
}

#bottom-page .fa-instagram:hover {
  color: #D2D2D2;
}

#bottom-page .fa-youtube {
  color: #FFBA22;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in;
}

#bottom-page .fa-youtube:hover {
  color: #D2D2D2;
}

#bottom-page a {
  color: #D2D2D2;
  font-size: 15px;
  text-decoration: none;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in;
}

#bottom-page a:hover {
  color: #FFBA22;
}

/* Back to top of page button */

.back-to-top a {
  text-decoration: none;
  color: #FFBA22;
  font-size: 12px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
